html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
}

#container {
  display: flex;
  margin: 5% 5% 5% 5%;
}

#frame > p {
  color: white;
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 10;
}

#imageDiv > img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.navArrowDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0rem 0.25rem 0rem 0.25rem;
}

.navArrow {
  cursor: pointer;
}
