html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
}

#frame {
  display: flex;
  margin: 5% 5% 5% 5%;
  width: 80%;
}

img {
  width: 100%;
}

.navArrowDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0rem 0.25rem 0rem 0.25rem;
}
